* {
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: coral;
}

h1 {
    font-family: 'Lora', sans-serif;
    font-size: 1.5em;
    color:#ffffff;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand h1 {
    font-size: 2em;
}

#header-nav{
    background-color:#cd5b45;
}

/* #menu_title{
    color: White;
} */

.abcd{
    color: White;
}

div{
   display: block;
}

#collapsable-nav{
    color:#ffffff;
}
div.sec_con{
    margin: 10px;
    background:#006080;
    color: #e6f9ff;
    padding: 15px;
}

